* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 1px;
    color: #030303;
    border-bottom: 1px solid #727171;
    width: 80%;
}
.title img {
    width: 100px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}
.curso{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    border: 1px solid #727171;
    min-height: 350px;
    border-radius: 5px;
    margin: 10px;
}
.categorias{
    width: 400px;
    gap: 10px;
    padding: 5px;   
    text-align: center;
    display: grid;
    grid-template-areas: 
    'a b c'
    ;
}
.categorias > div{
    border:1px solid #5e5e5e;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
    font-size: small;
    height: 28px;


}
.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
}
.curso__name {
    font-weight: bolder;
    font-size: 30px;
}
.curso__sobre{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* número de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 380px;
}
.tempo__curso{
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.horas{
    font-weight: bolder;
}
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sobre div {
    border: 1px solid red;
    padding: 6px;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn__saiba__mais{
    color: red;
    
    
}
.btn__inscrever {
    background: red;
    color: white;
}

.btn__saiba__mais:hover,.btn__inscrever:hover{
    border-color: rgb(153, 0, 0);
    transition: .5s;
    color: white;
    background:rgb(153, 0, 0);
}
.shadow{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.582);
}
.modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 600px
    ;
}
.title__modal{
    font-size: 25px;
    font-weight: bolder;
}
.header__modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 1px solid #929292;
    padding: 15px;
}
.main__modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.sub__title {
    text-align: start;
    align-self: self-start;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-style: italic;
}